.Error-page {
    align-self: center;
}

.Error-page h1 {
    font-family: 'Montserrat';
    font-size: 263px;
    text-align: center;
    color: #FF6060;
    margin: 50px 0px 50px 0px;
}

.Error-page p {
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    color: #FF6060;
    margin: 50px 0px 50px 0px;

}

.Error-page a {
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    text-decoration: none;
    color: black;
}

.Error-page a:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media  (max-width: 767.9px) {

.Error-page h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 136px;
}

.Error-page p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;    
}
.Error-page a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.break-responsive-error{
    display: block; 
  }


}