.star-rating {
    display: flex;
    gap: 10px;
    margin-top: 25px;
  }
  
  .star {
    font-size: 24px; 
    color: lightgray; 
  }
  
  .star.filled {
    color: #FF6060; 
  }

@media  (max-width: 375px){
.star-rating {
    margin-top: 0;
}
.star {
    font-size: 13px;
}

}