main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    background: #F6F6F6;
    height: 829px;
    width: 1240px;
    border-radius: 25px;
    margin: 25px 0px 50px 0px;
    overflow-y: auto;
}
.banner-with-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

.banner-text {
    position: absolute; 
    color: white;
    z-index: 1;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    line-height: 68.45px;
    text-align: left;
    text-shadow: 0px 4px 4px 0px #00000040;
}