.location-details {
    margin: auto;
    width: 1240px;
}
.location-location {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    margin-top: 5px;
}
.info-location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.host-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.location-title {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: #FF6060;
    margin-bottom: 0px;
}
.location-host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.location-host p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: #FF6060;
    margin-right: 10px;

}

.location-host img {
    width: 64px; 
    height: 64px;
    border-radius: 50%; 
}
ul {
    list-style: none;
}
.tag-rating {
    display: flex;
    justify-content: space-between;
}
.collapse {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

/* Responsive */
@media (max-width: 375px){
.location-details {
    max-width: 375px;
}
.info-location-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.location-title {
    font-size: 18px;
    line-height: normal;
}
.location-location {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: normal;
}
.location-host p {
    font-size: 12px;
    line-height: normal;

}
.location-host img {
    height: 32px;
    width: 32px;
}
.host-container {
    display: flex;
    flex-direction: row-reverse;
    width: 335px;
    align-items: center;
    justify-content: space-between;
}
.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px 5px 0px;
}

}