.collapse-container {
    width: 582px;
  }
.collapse-container.about {
    width: 1023px;
}
 
.collapse-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 10px;
}
.collapse-title {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: white;
}
  
.collapse-title.about {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    color: white;
}
  
.collapse-arrow {
    margin-right: 10px;
    cursor: pointer;
    height: 20px;
    transition: transform 0.6s ease;
}
  
.collapse-arrow.rotate {
    transform: rotate(-180deg);
}
  
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    padding: 0 10px; 
    background-color: #f7f7f7; 
}
.collapse-container.open .collapse-content {
    max-height: 500px;
}


.collapse-content p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    text-align: left;
}

@media  (max-width: 767.98px){
.collapse-container.about {
    width: 90%;
}
.collapse-container{
    width: 90%;
}   
.collapse-bar {
    height: 20px;
    padding: 10px;
    border-radius: 10px;

}

.collapse-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: left;
}

.collapse-content p,ul {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}
.collapse-content ul {
    padding-inline-start: 0px;
}

.collapse-arrow {
    margin-right: 10px;
    cursor: pointer;
    width: 16px;
    height: 10px;
}
    
}